.design_cascader_picker{
  position: relative;
  font-size:14px;
  .design_cascader_picker_arrow{
    position: absolute;
    top:5px;
    right:10px;
    transition:transform 0.3s;
  }
  .design_cascader_picker_arrow_active{
    transform:rotate(180deg)
  }
}
.design_cascader_menu_container{
  position: absolute;
  top: 27px;left: 0;
  border:1px solid rgba(200,200,200);
  border-radius:5px;
  white-space: nowrap;
  min-height:100px;
  box-shadow:0 2px 8px rgba(0,0,0,0.15);
  .design_cascader_menu_list{
    position: relative;
    display:inline-block;
    min-height:100px;
    border-right:1px solid rgba(200,200,200);
    vertical-align: top;
    &:last-child{
      border-right:none;
      li{
        border-top-right-radius: 5px;
      }
    }
    &:first-child{
      li{
        border-top-left-radius: 5px;
      }
    }
    &>li{
      padding:5px 10px;
      line-height:22px;
      &>span{
        margin-right:20px;
      }
    }
    &>.active{
      background-color:#FAFAFA;
    }
    &>li:hover{
      background-color:#E6F7FF;
    }
  }
}